.TopNav{
    background-color: #333;
    overflow: hidden;
}

.TopNav a{
    float: left;
    display: block;
    color: red;
    text-decoration: none;
    margin-left: 30px;
    font-size: 120%;
    padding: 14px 16px;
    text-align: center;
}
.TopNav a:hover{
    color: darkred;
}
.TopNav a:active{
    color: blueviolet;
    background-color: darkblue;
}
.txt{
    text-align: center;
}

#title{
    text-align: center;
}

#title::first-letter{
    font-size: 105%;
    color: red;
}

