h1{
    font-size: 300%;

}

.buttWrap{
    text-align: center;
}

#butt1{
    text-align: center;
    position: absolute;
    top: 45%;
    margin-top: auto;
    left: 46%;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
}

#butt1:hover{
    background-color: lightgray;

}

body{
    background: black;
}

.txt{
    color: white;
    font-family: arial, sans-serif;
}
#topTitle{
    text-align: center;
    font-family: "DejaVu Sans Mono", monospace;
}